body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #0a6c5d;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(60%);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    padding: 60px 10%;
}

.section h2 {
    color: #0a6c5d;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.card p {
    flex-grow: 1;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.team-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
}

.image-section {
    text-align: center;
    margin: 30px 0;
}

footer {
    background: #0a6c5d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 12px;
}
